@media screen and (max-width: 600px) {
    ul.nav-bar {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    ul.nav-bar li:not(:first-child) {
        border-right: none;
    }

    ul.nav-bar li:nth-child(2) {
        border-left: none;
        padding-left: 0px;
    }

    div.header-empty {
        margin-top: 0px;
        border-bottom: 4px solid black;
    }

    .background-img {
        position: relative;
    }

    .heading {
        width: 315px;
        font-size: 30px;
        color: #454545;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 30px;
        position: absolute;
        top: 72%;
    }

    .heading-para {
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: 15px;
        width: 300px;
        position: absolute;
        top: 93%;
    }

    .heading-link {
        margin-left: 20px;
        text-decoration: none;
        border: 2px solid black;
        padding: 5px 10px;
        font-size: 10px;
        background-color: #19e79c;
        color: black;
        font-weight: 600;
        border-radius: 4px;
        transition: background-color 0.5s ease;
        position: absolute;
        top: 106%;
    }

    .heading-link:hover {
        color: white;
        background-color: black;
    }
}