@media all and (max-width: 500px) and (min-width:300px) {
    .background-img {
        position: relative;
        right: 0px;
        height: 483px;
        width: 0px;
        overflow: hidden;
        top: 0px;
        z-index: 4;
        display: hidden;
    }

    .home-section {
        display: flex;
        flex-direction: row-reverse;
        gap: 320px;
        height: 70%;
    }
    

    div.header-empty {
        margin-top: 120px;
        border-bottom: 4px solid black;
        display: none;
    }

    .heading {
        width: 630px;
        font-size: 30px;
        color: #454545;
        font-weight: 600;
        margin-top: 15%;
        position: absolute;
        width: 305px;
        margin-left: 15%;
    }

    .heading-para {
        position: absolute;
        top: 80%;
        width: 300px;
        font-size: 13px;
        margin-left: 15%;
    }

    .heading-link {
        position: relative;
        top: 80%;
        display: inline-block;
        width: 180px;
        left: -80%;
        font-size: 15px;
        margin-left: 110%;
    }

    div.header-empty {
        margin-top: -24px;
    }

    .info {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .about-food {
        display: flex;
        flex-direction: column;
        border-top: 2px solid black;
        width: 500px;
    }

    .salmon-fish {
        margin-left: 22%;
        width: 300px;
        height: 300px;
    }

    .about-heading {
        font-size: 25px;
        margin-left: 12%;
    }

    .food-heading {
        font-size: 35px;
        width: 400px;
        margin-left: 12%;
    }

    .food-information {
        width: 370px;
        font-size: 16px;
        margin-left: 12%;
    }

    .about-link {
        margin-left: 12%;
    }

    .last-recipes {
        display: flex;
        flex-direction: column;
    }

    .no-recipes {
        text-align: center;
    }
}