.register-page {
    display: flex;
    width: 1519px;
    max-width: 1519px;
}

.info-list {
    position: relative;
    top: 18%;
    left: -25%;
}

.info-list li:first-child {
    list-style-type: none;
    font-size: 25px;
    font-weight: 600;
}

.info-list li {
    width: 360px;
    margin-bottom: 15px;
}

.register {
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    margin-top: 35px;
    margin-left: 0px;
    margin-bottom: 45px;
    padding: 10px 30px;
    position: relative;
    top: 6%;
    left: 35%;
    box-shadow: 5px 5px 5px gray;
}

.register-background-img {
    height: 900px;
    width: 400px;
    position: relative;
    right: -1119px;
}

.register-heading {
    text-align: center;
    font-size: 25px;
    background-color: #19e79c;
    padding: 15px 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.register-info {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    width: 305px;
}

.email {
    margin-bottom: 15px;
    width: 300px;
}

.password {
    margin-bottom: 10px;
    width: 300px;
}

.btn-register {
    padding: 5px 15px;
    background-color: #19e79c;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 15px;
}

.btn-register:hover {
    color: white;
    background-color: black;
}

.user-info {
    background-color: white;
    border: 2px solid black;
    margin-bottom: 20px;
}

.user-info label {
    font-weight: 600;
}

.user-info h4 {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}

.user-info a {
    color: blue;
    text-decoration: none;
}

.user-info a:hover {
    color: #19e79c;
    text-decoration: underline;
}

.user-info label, input, p {
    margin-left: 15px;
}

.user-info p {
    margin-bottom: 10px;
}

.form-error {
    font-size: 13px;
    color: red;
}

p.characters,
p.numeric,
p.upper-case {
    font-size: 14px;
    margin-bottom: -4px;
    font-weight: 600;
}

p.numeric {
    margin-bottom: 5px;
}

.wrong {
    color: red;
}

.correct {
    color: rgb(8, 201, 8);
}