@media all and (min-width: 300px) and (max-width: 600px) {
    .navigation {
        width: 120vw;
    }
    
    ul.nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        padding-left: 15%;
        border-bottom: 2px solid black;
    }

    ul.nav-bar li:not(:first-child) {
        border-right: none;
    }

    ul.nav-bar li:nth-of-type(2) {
        border-left: none;
        padding-left: 0px;
    }
}