.main-wrapper {
    background-color: #fced81;
    padding-bottom: 180px;
    padding-top: 30px;
}

.catalog {
    display: flex;
    gap: 40px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 170px;
    margin-top: 110px;
    border: 4px solid black;
    padding: 60px 30px;
    background-color: #baf8e9;
    width: 1200px;
}

.catalog-recipes,
.catalog-products {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 25px;
}

.catalog-recipes:hover,
.catalog-products:hover {
    text-decoration: underline;
}

.catalog-recipes {
    margin-right: 20px;
    border-right: 2px solid black;
    padding-right: 25px;
    margin-left: 535px;
}

.catalog-recipe {
    border: 3px solid black;
    width: 220px;
    border-radius: 8px;
    padding-bottom: 20px;
    background-color: #19e79c;
}

.catalog-recipe:hover {
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.1s;
    cursor: pointer;
}

.catalog-recipe img {
    border-bottom: 3px solid black;
    border-radius: 6px;
    margin-bottom: 10px;
    height: 198px;
}

.catalog-recipe-title {
    font-size: 26px;
    margin-left: 10px;
}

.catalog-recipe-category {
    margin-left: 10px;
    margin-bottom: 15px;
}

.details-btn {
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.details-btn:hover {
    color: black;
    background-color: white;
}

.no-content {
    width: 1000px;
    font-size: 35px;
    text-align: center;
}